@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}
.text-center{
  color: white;
}
.userimg{
  height: 100px;
}
.space{
  gap:10px;
  font-size: large;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}